@mixin mq($point) {

    @each $breakpoint,
    $widths in $breakpoint-widths {
        @if $point==$breakpoint {
            @media (max-width: $widths) {
                @content;
            }
        }
    }
}

/* Media queries */

$breakpoint-widths: (xl:1440px, lg: 1200px, md: 992px, sm: 767px, xs: 576px) !default;

/* Container */

$container-widths: (xl: 1400px, lg: 900px, md: 750px, sm: 558px, xs: auto) !default;



/* Responsive font size */

$maxWidth: 1920;  // width for maximum font size

@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}


// @include adaptiv-font(fontSizeForPC, fontSizeForMobile);
